/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	.logo {
	    width: 80%;
	}
	.c_nav_button{
		background-color: #ffffff;
	}
	.menu ul li a {
	    margin: 0 10px;
	    font-size: 15px;
	}
	.header-body{
		padding: 60px 0 100px;
	}
	.h_h2 {
	    font-size: 26px;
	}
	.h_h1 {
		margin: 0 0 30px;
	    font-size: 32px;
	}
	.btn_banner{
		font-size: 15px;
	}
	/*Header end*/

	/*Feature start*/
	.feature{
		padding: 70px 0;
	}
	.common_h1{
		font-size: 22px;
	}
	.common_shape {
	    width: 30%;
	}
	.feature_wrapper{
		margin-top: 30px;
		padding: 0 30px 30px;
	}
	.feature_content{
		margin-top: 30px;
	}
	.f_price{
		padding: 5px 15px;
		bottom: -8%;
		left: 33%;
	}
	.f_h2 {
	    font-size: 18px;
	}
	/*Feature end*/

	/*Band start*/
	.band_left {
	    padding: 40px 10px;
	}
	.band_left img {
	    width: 710px;
	    height: 350px;
	}
	.band_right{
		padding: 0 20px;
	}
	.right_title {
	    text-align: center;
	}
	.band_right{
		margin-left: 0;
	}
	.b_right_h1 {
	    font-size: 26px;
	}
	.b_r_shape {
	    margin: 0 auto;
	}
	.band_content {
		margin: 35px 0 0;
	}
	.band_footer{
		padding: 30px 10px;
	}
	/*Band end*/

	/*Tour start*/
	.tour{
		padding: 70px 0;
	}
	.tour_content{
		margin-top: 25px;
	}
	.t_title {
	    margin-bottom: 30px;
	}
	.date {
	    padding:15px 0;
	    font-size: 14px;
	}
	.inner_content {
	    margin: 25px 0 0;
	    text-align: center;
	}
	.inner_p {
	    font-size: 14px;
	}
	.t_h2 {
	    font-size: 18px;
	}
	.seat{
		margin: 10px auto 0;
	}
	.seat p{
		margin: 0;
	}
	.tour_button{
		margin: 15px auto 0;
	}
	.btn_tour {
	    width: 110px;
	    height: 35px;
	    color: #ffffff;
		border: 1px solid #ecae3d;
	    background-color: #ecae3d;
	}
	/*Tour end*/

	/*Gallery start*/
	.gallery{
		padding: 70px 0;
	}
	.g_title{
		margin-bottom: 25px;
	}
	.gallery_content{
		padding: 0 20px;
	}
	.g_h2 {
	    margin: 70px 0 0;
	    font-size: 16px;
	}
	.g_overlay hr {
	    width: 25%;
	}
	/*Gallery end*/

	/*Consert start*/
	.consert{
		padding: 70px 0;
	}
	.consert_h1 {
	    font-size: 30px;
	}
	.consert_p2 {
	    margin: 0 0 30px;
	}
	.btn_consert{
		font-size: 15px;
		width: 130px;
	}
	/*Consert end*/

	/*People start*/
	.people{
		padding: 70px 0;
	}
	.people_content {
	    margin-top: 35px;
	    text-align: center;
	}
	.p_img img{
	    width: 40%;
	}
	.people_p1{
		margin: 18px 0 0;
		padding: 0;
	}
	.people_button {
	    margin-top: 30px;
	}
	/*People end*/

	/*News start*/
	.news{
		padding-bottom: 50px;
	}
	.n_h1{
		margin-top: 0;
	}
	.news_left{
		margin-right: 0;
		padding: 0 20px;
	}
	.news_content{
		margin: 35px 0 0;
	}
	.news_inner_content{
		padding: 30px 10px;
	}
	.news_overlay {
	    width: 90px;
	    height: 75px;
	}
	.news_p1 {
	    margin-top: 15px;
	}
	.news_h2{
		font-size: 18px;
	}
	.news_p2 {
	    margin: 0 0 15px;
	}
	.news_right{
		padding: 40px 10px;
		text-align: center;
	}
	.news_right img{
		height: 350px;
	}
	/*News end*/

	/*Comment start*/
	.comment{
		padding: 70px 0;
	}
	.com_shape {
	    margin: 20px auto 25px;
	}
	.com_icon i {
	    font-size: 20px;
	}
	.quote1{
	    margin: -25px 0 0 0;
	}
	.quote1 img, .quote2 img{
		width: 70%;
	}
	.com_p{
		padding: 0 12px;
	}
	.quote2{
		margin: -24px 50px 0 0;
	}
	/*Comment end*/

	/*Call start*/
	.call{
		padding: 30px 0;
	}
	.call_p {
	    font-size: 15px;
	}
	.call_button{
		margin-top: 20px;
	}
	.btn_call{
		font-size: 15px;
		width: 180px;
	}
	/*Call end*/

	/*Footer start*/
	footer{
		padding: 70px 0;
	}
	.footer_h2 {
	    margin: 35px 0 20px;
	    font-size: 20px;
	}
	.footer_p3 {
	    margin: 0 0 30px;
	}
	.footer_menu ul li {
	    margin: 5px;
	}
	footer hr {
	    margin: 18px auto;
	}
	.social_icon ul li {
	    padding: 3px 9px;
	}
	.social_icon ul li a {
	    font-size: 16px;
	}
	.social_icon ul li a i {
	    margin-top: 8px;
	}
	/*Footer end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.c_nav_button{
		background-color: #ffffff;
	}
	.menu ul li a {
	    margin: 0 10px;
	}
	.header-body{
		padding: 60px 0 100px;
	}
	.h_h2 {
	    font-size: 30px;
	}
	.h_h1 {
		margin: 0 0 40px;
	    font-size: 50px;
	}
	/*Header end*/

	/*Feature start*/
	.feature{
		padding: 70px 0;
	}
	.common_h1{
		font-size: 30px;
	}
	.common_shape {
	    width: 15%;
	}
	.feature_wrapper{
		margin-top: 30px;
		padding: 0 30px 30px;
	}
	.feature_content{
		margin-top: 30px;
	}
	.f_price{
		padding: 6px 16px;
		bottom: -8%;
		left: 32%;
	}
	.f_h2 {
	    font-size: 18px;
	}
	/*Feature end*/

	/*Band start*/
	.band_left {
	    padding: 70px 50px;
	}
	.band_left img {
	    width: 710px;
	    height: 500px;
	}
	.band_right{
		padding: 0 110px;
	}
	.right_title {
	    text-align: center;
	}
	.band_right{
		margin-left: 0;
	}
	.b_right_h1 {
	    font-size: 30px;
	}
	.b_r_shape {
	    margin: 0 auto;
	}
	.band_content {
		margin: 35px 0 0;
	}
	.band_footer{
		padding: 30px 10px;
	}
	/*Band end*/

	/*Tour start*/
	.tour{
		padding: 70px 0;
	}
	.t_title {
	    margin-bottom: 30px;
	}
	.tour_content{
		margin-top: 25px;
	}
	.date {
	    padding:15px 0;
	    font-size: 14px;
	}
	.inner_content {
	    margin: 6px 0 0;
	}
	.inner_p {
	    font-size: 14px;
	}
	.t_h2 {
	    font-size: 18px;
	}
	.seat{
		margin: 20px auto 0;
	}
	.seat p{
		margin: 0;
	}
	.tour_button{
		margin: 20px auto 0;
	}
	.btn_tour {
	    width: 125px;
	    height: 40px;
	    color: #ffffff;
		border: 1px solid #ecae3d;
	    background-color: #ecae3d;
	}
	/*Tour end*/

	/*Gallery start*/
	.gallery{
		padding: 70px 0;
	}
	.g_title{
		margin-bottom: 25px;
	}
	.g_h2 {
	    margin: 75px 0 0;
	    font-size: 16px;
	}
	.g_overlay hr {
	    width: 25%;
	}
	/*Gallery end*/

	/*Consert start*/
	.consert{
		padding: 70px 0;
	}
	.consert_h1 {
	    font-size: 30px;
	}
	.consert_p2 {
	    margin: 0 0 30px;
	    padding: 0 50px;
	}
	.btn_consert{
		font-size: 15px;
		width: 130px;
	}
	/*Consert end*/

	/*People start*/
	.people{
		padding: 70px 0;
	}
	.people_content {
	    margin-top: 45px;
	    text-align: center;
	}
	.p_img img{
	    width: 45%;
	}
	.people_p1{
		margin: 20px 0 0;
		padding: 0 40px;
	}
	.people_button {
	    margin-top: 35px;
	}
	/*People end*/

	/*News start*/
	.news{
		padding-bottom: 50px;
	}
	.n_h1{
		margin-top: 0;
	}
	.news_left{
		margin-right: 0;
		padding: 0 110px;
	}
	.news_content{
		margin: 35px 0 0;
	}
	.news_inner_content{
		padding: 30px 10px;
	}
	.news_overlay {
	    width: 100px;
	    height: 80px;
	}
	.news_p1 {
	    margin-top: 20px;
	}
	.news_h2{
		font-size: 18px;
	}
	.news_p2 {
	    margin: 0 0 15px;
	}
	.news_right{
		padding: 70px 50px;
		text-align: center;
	}
	.news_right img{
		height: 500px;
	}
	/*News end*/

	/*Comment start*/
	.comment{
		padding: 70px 0;
	}
	.com_shape {
	    margin: 15px auto 20px;
	}
	.com_icon i {
	    font-size: 24px;
	}
	.quote1{
	    margin: -30px 0 0 25px;
	}
	.quote1 img, .quote2 img{
		width: 80%;
	}
	.com_p{
		padding: 0 50px;
	}
	.quote2{
		margin: -14px 25px 0 0;
	}
	/*Comment end*/

	/*Call start*/
	.call{
		padding: 30px 0;
	}
	.call_p {
		padding: 0 55px;
	    font-size: 15px;
	}
	.call_button{
		margin-top: 20px;
	}
	.btn_call{
		font-size: 15px;
		width: 220px;
	}
	/*Call end*/

	/*Footer start*/
	footer{
		padding: 70px 0;
	}
	.footer_h2 {
	    margin: 35px 0 20px;
	    font-size: 20px;
	}
	.footer_p3 {
	    margin: 0 0 35px;
	}
	.footer_menu ul li {
	    margin: 0 5px;
	}
	footer hr {
	    margin: 20px auto;
	}
	.social_icon ul li {
	    padding: 3px 5px;
	}
	.social_icon ul li a {
	    font-size: 16px;
	}
	.social_icon ul li a i {
	    margin-top: 8px;
	}
	/*Footer end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.c_nav_button{
		background-color: #ffffff;
	}
	.menu ul li a {
	    margin: 0 10px;
	}
	.header-body{
		padding: 80px 0 120px;
	}
	.h_h2 {
	    font-size: 35px;
	}
	.h_h1 {
		margin: 0 0 50px;
	    font-size: 75px;
	}
	/*Header end*/

	/*Feature start*/
	.feature{
		padding: 80px 0;
	}
	.common_h1{
		font-size: 34px;
	}
	.common_shape {
	    width: 15%;
	}
	.feature_wrapper{
		margin-top: 30px;
		padding: 0 30px 30px;
	}
	.feature_content{
		margin-top: 30px;
	}
	.f_price{
		padding: 8px 20px;
		bottom: -6%;
		left: 35%;
	}
	/*Feature end*/

	/*Band start*/
	.band_left {
	    padding: 70px;
	}
	.right_title {
	    text-align: center;
	}
	.band_right{
		margin-left: 0;
	}
	.b_right_h1 {
	    font-size: 35px;
	}
	.b_r_shape {
	    margin: 0 auto;
	}
	.band_footer{
		padding: 20px 5px;
	}
	/*Band end*/

	/*Tour start*/
	.tour{
		padding: 80px 0;
	}
	.date {
	    padding: 30px 15px;
	    font-size: 14px;
	}
	.inner_content {
	    margin: 20px 0 0;
	}
	.t_h2 {
	    font-size: 18px;
	}
	.seat{
		margin: 20px auto 0;
	}
	.seat p{
		margin: 0;
	}
	.tour_button{
		margin: 20px auto 0;
	}
	.btn_tour {
	    width: 125px;
	    height: 40px;
	}
	/*Tour end*/

	/*Gallery start*/
	.gallery{
		padding: 80px 0;
	}
	.g_title{
		margin-bottom: 30px;
	}
	.g_h2 {
	    margin: 100px 0 0;
	    font-size: 18px;
	}
	.g_overlay hr {
	    width: 25%;
	}
	/*Gallery end*/

	/*Consert start*/
	.consert{
		padding: 80px 0;
	}
	.consert_h1 {
	    font-size: 35px;
	}
	.consert_p2 {
	    margin: 0 0 35px;
	}
	.btn_consert{
		width: 150px;
	}
	/*Consert end*/

	/*People start*/
	.people{
		padding: 80px 0;
	}
	.people_content {
	    margin-top: 45px;
	    text-align: center;
	}
	.p_img img{
	    width: 45%;
	}
	.people_p1{
		margin: 20px 0 0;
		padding: 0 15px;
	}
	/*People end*/

	/*News start*/
	.n_h1{
		margin-top: 0;
	}
	.news_left{
		margin-right: 0;
	}
	.news_content{
		margin-top: 55px;
		margin-bottom: 50px;
	}
	.news_overlay {
	    width: 75px;
	    height: 60px;
	}
	.news_p1 {
	    margin-top: 7px;
	}
	.news_h2{
		font-size: 18px;
	}
	.news_right{
		padding: 70px;
		text-align: center;
	}
	/*News end*/

	/*Comment start*/
	.comment{
		padding: 80px 0;
	}
	.com_shape {
	    margin: 15px auto 20px;
	}
	.quote1{
	    margin: -30px 0 0 25px;
	}
	.quote1 img, .quote2 img{
		width: 80%;
	}
	.com_p{
		padding: 0 50px;
	}
	.quote2{
		margin: -14px 25px 0 0;
	}
	/*Comment end*/

	/*Call start*/
	.call{
		padding: 40px 0;
	}
	.call_p {
	    font-size: 16px;
	}
	.call_button{
		margin-top: 20px;
	}
	.btn_call{
		width: 220px;
	}
	/*Call end*/

	/*Footer start*/
	footer{
		padding: 80px 0;
	}
	/*Footer end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Header start*/
	.menu ul li a {
	    margin: 0 10px;
	}
	.header-body{
		padding: 100px 0 200px;
	}
	/*Header end*/

	/*Feature start*/
	.f_price{
		bottom: -10%;
		left: 24%;
	}
	/*Feature end*/

	/*Band start*/
	.right_title{
		margin-top: 40px;
	}
	.band_content {
	    margin: 45px 3px 0;
	}
	.band_content hr {
	    margin: 0 auto 13px;
	}
	.band_footer {
	    padding: 15px 0 20px;
	}
	/*Band end*/

	/*Tour start*/
	.date {
	    padding: 12px 0px;
	    font-size: 14px;
	}
	.inner_content {
	    margin: 10px 0 0;
	}
	.t_h2 {
	    font-size: 18px;
	}
	.seat{
		margin: 10px auto 0;
	}
	.tour_button{
		margin: 10px auto 0;
	}
	.btn_tour {
	    width: 125px;
	    height: 40px;
	}
	/*Tour end*/

	/*Gallery start*/
	.g_h2{
		margin: 85px 0 0;
	}
	/*Gallery end*/

	/*People start*/
	.people_h3 {
	    margin: 10px 0 0;
	}
	/*People end*/

	/*News start*/
	.news_left{
		margin-top: 0;
	}
	.news_content {
	    margin: 35px 3px 0;
	}
	.news_inner_content {
	    padding: 20px 0;
	}
	.news_overlay {
	    width: 65px;
	    height: 55px;
	}
	.news_p1 {
	    margin-top: 7px;
	    font-size: 12px;
	}
	.news_p1 span {
	    font-size: 14px;
	}
	.news_h2{
		font-size: 16px;
	}
	.news_p2 {
	    font-size: 15px;
	}
	/*News end*/

	/*Comment start*/
	.quote1{
	    margin: -30px 0 0 25px;
	}
	.com_p{
		padding: 0 50px;
	}
	.quote2{
		margin: -14px 25px 0 0;
	}
	/*Comment end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/*Band satrt*/
	.band_content {
	    margin: 50px 3px 0;
	}
	.right_title{
		margin-top: 70px;
	}
	/*Band end*/

	/*Tour start*/
	.date {
	    padding: 16px 0px;
	}
	.inner_content{
		margin: 20px 0 0;
	}
	.seat{
		margin-top: 20px;
	}
	.tour_button{
		margin-top: 20px;
	}
	/*Tour end*/
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	/*Feature start*/
	.f_price{
		bottom: -7%;
		left: 33%;
	}
	/*Feature end*/

	/*Band satrt*/
	.right_title{
		margin-top: 85px;
	}
	.b_p2 {
	    font-size: 16px;
	}
	/*Band end*/

	/*Gallery start*/
	.g_h2{
		margin: 125px 0 0;
	}
	/*Gallery end*/

	/*People start*/
	.people_p1 {
	    margin: 10px 0 0;
	}	
	/*People end*/

	/*Comment start*/
	.quote1{
	    margin: -30px 0 0 30px;
	}
	.com_p{
		padding: 0 50px;
	}
	.quote2{
		margin: -15px 112px 0 0;
	}
	/*Comment end*/
}