/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	.logo {
	    width: 80%;
	}
	.c_nav_button{
		background-color: #ffffff;
	}
	.menu ul li a {
	    margin: 0 10px;
	    font-size: 15px;
	}
	.header-body{
		padding: 60px 0 100px;
	}
	.h_h2 {
	    font-size: 26px;
	}
	.h_h1 {
		margin: 0 0 30px;
	    font-size: 32px;
	}
	.btn_banner{
		font-size: 15px;
	}
	/*Header end*/

	/*Feature start*/
	.feature{
		padding: 70px 0 80px;
	}
	.common_h1{
		font-size: 26px;
	}
	.common_shape {
	    width: 30%;
	}
	.feature_wrapper{
		margin-top: 30px;
		padding: 0 30px 30px;
	}
	.feature_content{
		margin-top: 30px;
	}
	.f_price{
		padding: 5px 15px;
		bottom: -8%;
		left: 29%;
	}
	.f_h2 {
	    font-size: 18px;
	}
	/*Feature end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.c_nav_button{
		background-color: #ffffff;
	}
	.menu ul li a {
	    margin: 0 10px;
	}
	.header-body{
		padding: 60px 0 100px;
	}
	.h_h2 {
	    font-size: 30px;
	}
	.h_h1 {
		margin: 0 0 40px;
	    font-size: 50px;
	}
	/*Header end*/

	/*Feature start*/
	.feature{
		padding: 70px 0 80px;
	}
	.common_h1{
		font-size: 30px;
	}
	.common_shape {
	    width: 15%;
	}
	.feature_wrapper{
		margin-top: 30px;
		padding: 0 30px 30px;
	}
	.feature_content{
		margin-top: 30px;
	}
	.f_price{
		padding: 6px 16px;
		bottom: -8%;
		left: 29%;
	}
	.f_h2 {
	    font-size: 18px;
	}
	/*Feature end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.c_nav_button{
		background-color: #ffffff;
	}
	.menu ul li a {
	    margin: 0 10px;
	}
	.header-body{
		padding: 80px 0 120px;
	}
	.h_h2 {
	    font-size: 35px;
	}
	.h_h1 {
		margin: 0 0 50px;
	    font-size: 75px;
	}
	/*Header end*/

	/*Feature start*/
	.feature{
		padding: 80px 0 100px;
	}
	.common_h1{
		font-size: 34px;
	}
	.common_shape {
	    width: 15%;
	}
	.feature_wrapper{
		margin-top: 30px;
		padding: 0 30px 30px;
	}
	.feature_content{
		margin-top: 30px;
	}
	.f_price{
		padding: 8px 20px;
		bottom: -6%;
		left: 34%;
	}
	/*Feature end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Header start*/
	.menu ul li a {
	    margin: 0 10px;
	}
	.header-body{
		padding: 100px 0 200px;
	}
	/*Header end*/

	/*Feature start*/
	.f_price{
		bottom: -10%;
		left: 26%;
	}
	/*Feature end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	/*Feature start*/
	.f_price{
		bottom: -7%;
		left: 33%;
	}
	/*Feature end*/
}