/*Font Family start*/
@font-face{
	src: url(../fonts/OpenSans-Regular.ttf);
	font-family: OpenSans-Regular;
}

@font-face{
	src: url(../fonts/OpenSans-Semibold.ttf);
	font-family: OpenSans-Semibold;
}

@font-face{
	src: url(../fonts/Raleway-Medium.ttf);
	font-family: Raleway-Medium;
}

@font-face{
	src: url(../fonts/Sacramento-Regular.ttf);
	font-family: Sacramento-Regular;
}

@font-face{
	src: url(../fonts/PlayfairDisplay-Regular.otf);
	font-family: PlayfairDisplay-Regular;
}
/*Font Family end*/

/*Common CSS start*/
body{
	font-family: OpenSans-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #727272;
}
.btn_common{
	width: 165px;
	height: 45px;
	color: #727272;
	border: 1px solid #000000;
	background-color: #000000;
	text-transform: uppercase;
	transform: .33s ease-in-out;
}
.btn_common:hover{
	color: #ecae3d !important;
}
.common_title{
	text-align: center;
}
.common_h1{
	font-family: PlayfairDisplay-Regular;
	font-size: 40px;
	color: #101010;
	text-transform: uppercase;
}
.common_shape{
	margin: 0 auto;
	width: 24%;
	height: 2px;
	color: #ecae3d;
	background-color: #ecae3d;
}
/*Common CSS end*/


/*Header CSS start*/
header{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header-top{
	padding-top: 20px;
}
.custom_nav{}
.logo{}
.c_nav_button{}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
	margin: 0 15px;
	font-family: Raleway-Medium;
	color: #ffffff !important;
	text-transform: uppercase;
	transform: .33s ease-in-out;
}
.menu ul li a:hover{
	color: #ecae3d !important;
}
.header-body{
	padding: 150px 0 300px;
	text-align: center;
}
.h_h2{
	margin: 0;
	font-family: Sacramento-Regular;
	font-size: 40px;
	color: #ecae3d;
}
.h_h1{
	margin: 0 0 70px;
	font-family: PlayfairDisplay-Regular;
	font-size: 90px;
	color: #ffffff;
}
.btn_banner{
	color: #ffffff;
	background-color: transparent;
	border: 0;
}
/*Header CSS end*/

/*Feature CSS start*/
.feature{
	padding: 100px 0 120px;
	background-color: #f5f5f5;
}
.f_h1{
	text-transform: capitalize;
}
.feature_wrapper{
	margin-top: 50px;
	padding: 0 40px 40px;
	background-color: #ffffff;
}
.feature_content{
	margin-top: 50px;
}
.feature_img{
	position: relative;
}
.feature_img img{
	width: 100%;
}
.f_price{
	padding: 10px 25px;
	position: absolute;
	font-size: 20px;
	bottom: -9%;
	left: 28%;
	color: #ecae3d;
	background-color: #ffffff;
}
.feature_intro{
	margin-top: 25px;
	text-align: center;
}
.f_h2{
	margin: 0;
	font-family: PlayfairDisplay-Regular;
	font-size: 20px;
	color: #101010;
	text-transform: uppercase;
}
.f_p{
	margin: 0;
	font-weight: 500;
	color: #ecae3d;
}
/*Feature CSS end*/

/*Band section start*/
.band{}
.band_left{}
.band_left img{
	width: 710px;
	height: 710px;
}
.b_right_h1{
	font-family: PlayfairDisplay-Regular;
	font-size: 40px;
	color: #101010;
	text-transform: uppercase;
}
.b_r_shape{
	margin: 0;
	width: 14%;
}
.band_content{
	margin: 60px 0 0;
	border: 1px solid #e7d9d9;
	text-align: center;
	transition: .33s ease-in-out;
}
.band_img{}
.band_img img{
	width: 100%;
}
.band_footer{
	padding: 40px 30px;
	transition: .33s ease-in-out;
}
.b_h3{
	font-family: Raleway-Medium;
	font-size: 18px;
	font-weight: 600;
	color: #272727;
}
.b_p1{
	font-family: Raleway-Medium;
	color: #ecae3d;
}
.band_content hr{}
.b_p2{
	font-family: OpenSans-Semibold;
}
.band_content:hover .band_footer{
	background-color: #000000;
	cursor: pointer;
}
.band_content:hover .band_footer .b_h3{
	color: #ffffff;
	cursor: pointer;
}
/*Band section end*/

/*Tour CSS start*/
.tour{
	padding: 100px 0;
	background-color: #f5f5f5;
}
.t_h1{}
.t_h1 span{
	font-family: OpenSans-Regular;
}
/*Tour CSS end*/