/*Font Family start*/
@font-face{
	src: url(../fonts/OpenSans-Regular.ttf);
	font-family: OpenSans-Regular;
}

@font-face{
	src: url(../fonts/OpenSans-Semibold.ttf);
	font-family: OpenSans-Semibold;
}

@font-face{
	src: url(../fonts/Raleway-Regular.ttf);
	font-family: Raleway-Regular;
}

@font-face{
	src: url(../fonts/Raleway-Medium.ttf);
	font-family: Raleway-Medium;
}

@font-face{
	src: url(../fonts/Sacramento-Regular.ttf);
	font-family: Sacramento-Regular;
}

@font-face{
	src: url(../fonts/PlayfairDisplay-Regular.otf);
	font-family: PlayfairDisplay-Regular;
}

@font-face{
	src: url(../fonts/Roboto-Regular.ttf);
	font-family: Roboto-Regular;
}

@font-face{
	src: url(../fonts/Roboto-Medium.ttf);
	font-family: Roboto-Medium;
}
/*Font Family end*/

/*Common CSS start*/
body{
	font-family: OpenSans-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #727272;
}
.btn_common{
	width: 165px;
	height: 45px;
	color: #727272;
	border: 1px solid #000000;
	background-color: #000000;
	text-transform: uppercase;
	transform: .33s ease-in-out;
}
.btn_common:hover{
	color: #ecae3d !important;
}
.common_title{
	text-align: center;
}
.common_h1{
	font-family: PlayfairDisplay-Regular;
	font-size: 40px;
	color: #101010;
	text-transform: uppercase;
}
.common_shape{
	margin: 0 auto;
	width: 24%;
	height: 2px;
	color: #ecae3d;
	background-color: #ecae3d;
}
/*Common CSS end*/


/*Header CSS start*/
header{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header-top{
	padding-top: 20px;
}
.custom_nav{}
.logo{}
.c_nav_button{}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
	margin: 0 15px;
	font-family: Raleway-Medium;
	color: #ffffff !important;
	text-transform: uppercase;
	transform: .33s ease-in-out;
}
.menu ul li a:hover{
	color: #ecae3d !important;
}
.header-body{
	padding: 150px 0 300px;
	text-align: center;
}
.h_h2{
	margin: 0;
	font-family: Sacramento-Regular;
	font-size: 40px;
	color: #ecae3d;
}
.h_h1{
	margin: 0 0 70px;
	font-family: PlayfairDisplay-Regular;
	font-size: 90px;
	color: #ffffff;
}
.btn_banner{
	color: #ffffff;
	background-color: transparent;
	border: 0;
}
/*Header CSS end*/

/*Feature CSS start*/
.feature{
	padding: 100px 0;
	background-color: #f5f5f5;
}
.f_h1{
	text-transform: capitalize;
}
.feature_wrapper{
	margin-top: 50px;
	padding: 0 40px 40px;
	background-color: #ffffff;
}
.feature_content{
	margin-top: 50px;
	transform: .33s ease-in-out;
}
.feature_content:hover {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
	box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
}
.feature_img{
	position: relative;
}
.feature_img img{
	width: 100%;
}
.f_price{
	padding: 10px 25px;
	position: absolute;
	font-size: 20px;
	bottom: -9%;
	left: 28%;
	color: #ecae3d;
	background-color: #ffffff;
}
.feature_intro{
	margin-top: 25px;
	text-align: center;
}
.f_h2{
	margin: 0;
	font-family: PlayfairDisplay-Regular;
	font-size: 20px;
	color: #101010;
	text-transform: uppercase;
}
.f_p{
	margin: 0;
	font-weight: 500;
	color: #ecae3d;
}
/*Feature CSS end*/

/*Band section start*/
.band{}
.band_left{}
.band_left img{
	width: 710px;
	height: 710px;
}
.band_right{
	margin-left: 35px;
}
.b_right_h1{
	margin-top: 30px;
	font-family: PlayfairDisplay-Regular;
	font-size: 40px;
	color: #101010;
	text-transform: uppercase;
}
.b_r_shape{
	margin: 0;
	width: 14%;
}
.band_content{
	margin: 60px 5px 0;
	border: 1px solid #e7d9d9;
	text-align: center;
	transition: .33s ease-in-out;
}
.band_img{}
.band_img img{
	width: 100%;
}
.band_footer{
	padding: 25px 0;
	transition: .33s ease-in-out;
}
.b_h3{
	font-family: Raleway-Medium;
	font-size: 18px;
	font-weight: 600;
	color: #272727;
}
.b_p1{
	font-family: Raleway-Medium;
	color: #ecae3d;
}
.band_content hr{
	margin: 0 auto 20px;
	width: 88%;
}
.b_p2{
	margin: 0;
	font-family: OpenSans-Regular;
	font-size: 15px;
}
.band_content:hover .band_footer{
	background-color: #000000;
	cursor: pointer;
}
.band_content:hover .band_footer .b_h3{
	color: #ffffff;
	cursor: pointer;
}
/*Band section end*/

/*Tour CSS start*/
.tour{
	padding: 100px 0;
	background-color: #f5f5f5;
}
.t_title{
	margin-bottom: 50px;
}
.t_h1{}
.t_h1 span{
	font-family: OpenSans-Regular;
}
.tour_content{
	margin-top: 10px;
	padding: 30px;
	background-color: #ffffff;
	transition: .33s ease-in-out;
}
.tour_content:hover {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
	box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
}
.date{
	padding: 25px 12px;
	color: #ecae3d;
	border: 1px solid #727272;
	text-align: center;
	text-transform: uppercase;
}
.tour_img{}
.tour_img img{
	width: 100%;
}
.inner_content{
	margin: 25px 0 0;
}
.t_h2{}
.inner_p{}
.seat{
	margin-top: 25px;
	text-align: center;
}
.seat p{
	font-size: 14px;
}
.seat p span{
	font-weight: 600;
	color: #101010;
	display: block;
}
.tour_button{
	margin: 25px auto 0;
}
.btn_tour{
	border-radius: 0;
	text-transform: capitalize;
	transition: .33s ease-in-out;
}
.btn_tour:hover {
	color: #ffffff !important;
	border: 1px solid #ecae3d !important;
	background-color: #ecae3d !important;
}
/*Tour CSS end*/

/*Gallery CSS start*/
.gallery{
	padding: 100px 0;
}
.g_title{
	margin-bottom: 40px;
}
.g_h1{}
.gallery_content{
	margin-top: 20px;
}
.gallery_img{
	position: relative;
}
.gallery_img img{
	width: 100%;
}
.g_overlay{
	text-align: center;
}
.g_overlay{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(16,16,16,.7);	
	opacity:0;
	transition:all .5s ease 0s;
	text-align: center;
}
.g_overlay hr{
	margin: 7px auto 10px;
	width: 30%;
	color: #ffffff;
}
.g_h2{
	margin: 105px 0 0;
	font-family: Raleway-Regular;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
}
.g_p{
	margin: 0;
	font-size: 14px;
	color: #ecae3d;
}
.gallery_img:hover .g_overlay{
	opacity:1;
	cursor: pointer;
}
/*Gallery CSS end*/


/*Consert CSS start*/
.consert{
	padding: 100px 0;
	background-image: url(../images/consert.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.consert_content{}
.consert_h1{
	margin: 0;
	font-family: PlayfairDisplay-Regular;
	font-size: 40px;
	color: #ffffff;
	text-transform: uppercase;
}
.consert_p1{
	margin: 10px 0;
	color: #ecae3d;
	text-transform: uppercase;
}
.consert_p2{
	margin: 0 0 40px;
}
.consert_button{}
.btn_consert{
	color: #ffffff;
	background-color: #ecae3d;
	border: 1px solid #ecae3d;
	border-radius: 0;
}
.btn_consert:hover{
	background-color: transparent;
	border: 1px solid #ecae3d !important;
}
/*Consert CSS end*/

/*People CSS start*/
.people{
	padding: 100px 0;
}
.p_h1{}
.people_wrapper{}
.peopple_inner{}
.people_item{}
.people_content{
	margin-top: 70px;
}
.p_img{}
.p_img img{
	width: 100%;
}
.p_inner_content{}
.people_p1{
	margin: 0;
}
.people_h3{
	margin: 20px 0 0;
	font-family: Roboto-Regular;
	font-size: 16px;
	color: #101010;
}
.people_p2{
	margin: 0;
	font-variant-position: 15px;
	color: #ecae3d;
}
.people_button{
	margin-top: 65px;
	text-align: center;
}
.people_button2{
	border: 0;
	background-color: transparent;
}
.people_button2 ul{}
.people_button2 ul li{
	padding: 3px 10px;
	color: #101010;
	background-color: transparent;
	border: 1px solid #727272;
	border-radius: 50%;
	transition: .33s ease-in-out;
}
.people_button2 ul li:hover{
	color: #ffffff;
	background-color: #101010;
	border: 1px solid #101010;
}
.people_button2 ul li i{
	font-size: 16px;
}
/*People CSS end*/


/*News CSS start*/
.news{
	background-color: #f5f5f5;
}
.news_left{
	margin-right: 35px;
}
.news_content{
	margin: 60px 5px 0;
	background-color: #ffffff;
	transition: .33s ease-in-out;
}
.news_img{
	position: relative;
}
.news_img img{
	width: 100%;
}
.news_overlay{
	position: absolute;
	width: 100px;
	height: 80px;
	top: 0;
	left: 0;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	transition: .33s ease-in-out;
}
.news_p1{
	margin-top: 20px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}
.news_p1 span{
	font-size: 16px;
}
.news_inner_content{
	padding: 25px 0;
	text-align: center;
}
.news_h2{
	margin: 0 0 15px;
	font-family: PlayfairDisplay-Regular;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	transition: .33s ease-in-out;
}
.news_p2{
	margin: 0 0 25px;
}
.news_right{}
.news_right img{
	width: 710px;
	height: 670px;
}
.news_content:hover{
	-webkit-box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
	box-shadow: 0px 0px 8px 0px rgba(236,174,61,1);
}
.news_content:hover .news_overlay{
	color: #ffffff;
	border: 1px solid #ecae3d;
	background-color: #ecae3d;
}
.news_content:hover .news_h2{
	color: #ecae3d;
}
/*News CSS end*/